<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<h1>, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <h1 class="main-title">Mon super blog</h1>
    
    <div class="cards">
        <a href="/post">
            <div class="card">
                <img src="img/trounoir.jpg">
                <h4>Mon post</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat eveniet impedit beatae fugiat omnis tenetur molestiae ducimus. 
                Eos, numquam repellendus, tempora impedit libero excepturi voluptas ex placeat explicabo iste corrupti.</p>
            </div>
        </a>

        <a href="/post">
            <div class="card">
                <img src="img/trounoir.jpg">
                <h4>Mon post</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat eveniet impedit beatae fugiat omnis tenetur molestiae ducimus. 
                Eos, numquam repellendus, tempora impedit libero excepturi voluptas ex placeat explicabo iste corrupti.</p>
            </div>
        </a>

        <a href="/post">
            <div class="card">
                <img src="img/trounoir.jpg">
                <h4>Mon post</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat eveniet impedit beatae fugiat omnis tenetur molestiae ducimus. 
                Eos, numquam repellendus, tempora impedit libero excepturi voluptas ex placeat explicabo iste corrupti.</p>
            </div>
        </a>

        <a href="/post">
            <div class="card">
                <img src="img/trounoir.jpg">
                <h4>Mon post</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat eveniet impedit beatae fugiat omnis tenetur molestiae ducimus. 
                Eos, numquam repellendus, tempora impedit libero excepturi voluptas ex placeat explicabo iste corrupti.</p>
            </div>
        </a>

        <a href="/post">
            <div class="card">
                <img src="img/trounoir.jpg">
                <h4>Mon post</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat eveniet impedit beatae fugiat omnis tenetur molestiae ducimus. 
                Eos, numquam repellendus, tempora impedit libero excepturi voluptas ex placeat explicabo iste corrupti.</p>
            </div>
        </a>
    </div>

    
</body>
</html>