<% layout('layouts/app') %>

    <h1 class="main-title">Mon super blog</h1>


    <div class="cards">
      <% posts.forEach(function(post){ %>
      <a href="/post/<%= post.id %>">
        <div class="card">
          <img src="<%= post.image %>" />
          <h4><%= post.title%></h4>
          <p><%= post.description%></p>
        </div>
      </a>
      <% }) %>
    </div>
