<% layout('layouts/app') %>

    <a href="/">Retour à l'accueil</a>
    <h1 class="post-title"><%= post.title %></h1>
    <p class="post-description"><%= post.description %></p>
    <img src="<%= post.image %>" class="post-image">
    <p class="post-body"><%= post.body %></p>
